@using AppInsightsDashboard.Web.Business.Dashboard.Models.Dashboards
@model AppInsightsDashboard.Web.ViewModels.Dashboard.IndexViewModel
<div id="dashboard"></div>
<script>
    window.scripts.push(function () {
        var projects = [
            @foreach (var item in Model.Items)
            {
                if (item.Value is DashboardSite)
                {
                    <text>{ name: "@item.Key", itemType: @((int)item.Value.DashboardType), url: "@Html.Raw(Url.Action("Status", new { id = Model.Id, name = item.Key }))", silent: @(item.Value.Silent ? "true": "false")},</text>
                }
                else if (item.Value is DashboardCustom)
                {
                    <text>{ name: "@item.Key", itemType: @((int)item.Value.DashboardType), url: "@Html.Raw(Url.Action("Status", new { id = Model.Id, name = item.Key }))", silent: @(item.Value.Silent ? "true": "false"), queries: @(((DashboardCustom)item.Value).Queries.Count)},</text>
                }
            }];

        ReactDOM.render(React.createElement(Dashboard,
        {
            columns: @Model.Columns,
            projects: projects
        }), $("#dashboard")[0]);
    });
</script>